<div class="content">
    <h3>管理者トップ</h3>

    <div class='category'>
      <%= link_to 'カテゴリ編集', admins_categories_path %>
      <%= link_to '新規投稿', new_admins_post_path %>
      <%= link_to '投稿一覧', admins_posts_path %>
    </div>
</div>