/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import '~@fortawesome/fontawesome-free/scss/fontawesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 130px;
  border-top-color: black;
  border-bottom: solid;
  border-bottom-width: 1px;
  background: linear-gradient(to bottom right, #ffffff, 80%, #191970);
}

.pedro5th {
  display: inline-block;
  padding-top: 20px;
  padding-left: 50px;
}

.nav {
  text-align: center;
}

.ul__wrapper {
  display: table;
  margin: 0 auto;
  padding: 0 ;
  width: 80%;
  text-align: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  width: 10%;
  min-width: 90px;
}

body {
  background-color: #dedede;
}

.content {
  width: 670px;
  margin: 70px 0px 0px 0px;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 0px 0px 0px;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  padding-bottom: 5px;
  color: black;
}

nav li:hover {
  color: #4d4d4d;
  border-bottom: 3px solid #4d4d4d;
}

p.post {
  width: 650px;
  padding: 0px 0% 0px 0%;
  margin: 65px 0px 150px 0px;
  margin-right: auto;
  margin-left: auto;
  font-size: 13px;
  font-family: "Arial";
  line-height: 185%;
  text-align: justify;
}

footer {
  height: 70px;
  border-top-color: black;
  border-top: solid;
  border-top-width: 1px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to bottom right, #ffffff, 80%, #191970);
}

.footer {
  margin-top: 30px;
  font-weight: 500;
  font-size: 11px;
  font-family: 'Arial';
  text-align: center;
}