<div class="wrapper site-header__wrapper">
  <div class="site-header__start">

  </div>
  <div class="site-header">
    <h2><a href="/" class="pedro5th">Pedro 5th</a></h2>
    <nav class="nav">
      <ul class="ul__wrapper">
        <li class="nav__item"><a href="/about" class="link-dark">About</a></li>
        <li class="nav__item"><a href="/bio" class="link-dark">Bio</a></li>
        <li class="nav__item"><a href="/works" class="link-dark">Works</a></li>
        <li class="nav__item"><a href="/categories" class="link-dark">Categories</a></li>
        <li class="nav__item"><a href="/links" class="link-dark">Links</a></li>
        <li class="nav__item"><a href="/contact" class="link-dark">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>